@use "sass:math" as math;

$classificationHeight: 20px;
$statusBarHeight: 96px;
$breadcrumbHeight: 68px;
$navBarHeight: 22px;
$fixedHeight: calc($classificationHeight + $statusBarHeight + $breadcrumbHeight + $navBarHeight);
$slosh: 1px; // system reports fractional pixels
