@use '../../constants/base' as base;

$GRID_HEIGHT: calc(100vh - (base.$fixedHeight + 116px + 36px)); // TODO: what do the naked constans account for?

#gridId {
  height: $GRID_HEIGHT;
  overflow-y: auto;
}
