@use "sass:math" as math;

$classificationHeight: 21px;
$statusBarHeight: 96px;
$breadcrumbHeight: 68px;
$navBarHeight: 0px;//22px; // used only during prototyping development
$slosh: 0px; // system reports fractional pixels
$fixedHeight: calc($classificationHeight + $statusBarHeight + $breadcrumbHeight + $navBarHeight + $slosh);
