<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="xxx">
    <rux-input *ngFor="let field of fields"
      [(ngModel)]="state[field.field]" 
      [name]=field.field
      [required]=field.required 
      [readonly]="readonly" 
      [disabled]="readonly"
      id="left-example" 
      label="{{field.label}}" 
      size="medium"
      type=field.type 
    ></rux-input>
  </div>

  <!-- developmental code: remove when no longer needed -->
  <div class="yyy">
    <input type="submit" hidden [disabled]="!f.valid"/>
  </div>  
</form>