<div class="classification">{{systemClassification}}</div>

<!-- TODO: cannot bind to component properties -->
  <!-- hover:app-name="{{applicationName}} v{{version}}" -->
<rux-global-status-bar 
  app-domain="NG"
  app-name='Space Operations Analysis Workbench'
  username="richard.jessop"
  app-state="Operational Prototype"
  version="0.1"
  menu-icon="apps"
  >

  <rux-pop-up
    id="popup-menu"
    slot='left-side'
    placement="'bottom-start"
    closeOnSelect
    >
    <rux-icon
      class='app-switcher-icon'
      icon='apps'
      aria-controls='popup-menu'
      slot='trigger'
      size='2rem'
    />
    <!-- onRuxmenuselected={(e) => menuSelect(e)} -->
    <rux-menu ruxmenuselected="menuSelect(e)">
      <rux-menu-item>GRM Dashboard</rux-menu-item>
      <rux-menu-item href='https://grm-equipment-react-ts.netlify.app'>GRM Equipment Manager</rux-menu-item>
      <rux-menu-item href='https://grm-schedule-react.netlify.app/'>GRM Schedule</rux-menu-item>
      <rux-menu-item-divider/>
      <rux-menu-item value='themeToggle'></rux-menu-item>
      <rux-menu-item value='notImplemented'>Preferences...</rux-menu-item>
      <rux-menu-item value='notImplemented'>Sign Out...</rux-menu-item>
    </rux-menu>
  </rux-pop-up>

  <rux-clock/>

  <div class='global-status-bar_status-indicators' slot='right-side'></div>
</rux-global-status-bar>

<app-breadcrumb-nav/>

<!-- TODO: This is a development feature. Remove when no longer needed.-->
<nav>
  <a class="button"
     routerLink="/app-workbench-dashboard"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Workbench Dashboard
  </a> |
  <a class="button"
     routerLink="/app-launch-details"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Launch Details
  </a>
</nav>

<router-outlet/>
