@use "sass:math" as math;
@use '../../constants/base' as base;

.classification {
  text-align: center;
  background-color: green;
}

rux-global-status-bar {
  z-index: 100; // fix for popup sometimes appearing beneath items in the body
}

// rux-clock:part(rux-clock__segment__label-value) {
// NOT WORKING
::ng-deep rux-global-status-bar rux-clock {
  color: red;
  margin: 0 auto;  
}

.app-switcher-icon:focus {
  outline-offset: -1px;
}

.global-status-bar_status-indicators {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

#popup-menu {
  height: calc(var(--spacing-14) + var(--spacing-050));
}

rux-menu-item[value='themeToggle'] span {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}

.tabs-bar {
  grid-area: tabs-bar;
  background-color: lawngreen;
}

.dashboard-page_right-panel {
  grid-area: right-panel;
  background-color: coral;
}
