@use "sass:math" as math;
@use '../../constants/base' as base;

#popup-menu {
  height: calc(var(--spacing-14) + var(--spacing-050));
}

rux-menu-item[value='themeToggle'] span {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}

.dashboard-page {
  display: grid;
  height: calc(100vh - (base.$fixedHeight + base.$slosh));
  padding: var(--spacing-3);
  padding-top: 0px;
  gap: var(--spacing-2);
  grid-template-rows: 3.75rem minmax(0, 1fr);
  grid-template-columns: minmax(400px, auto) minmax(400px, 600px);
  grid-template-areas:
    'left-panel tabs-bar'
    'left-panel right-panel'
    'left-panel right-panel';
}

.dashboard-page rux-container::part(body) {
  padding: 0;
}

.dashboard-page__left-panel {
  grid-area: left-panel;
  overflow: auto;
}

.tabs-bar {
  grid-area: tabs-bar;
}

.dashboard-page__right-panel {
  grid-area: right-panel;
}
