<div class="xxx">
  <h1>Space Operations Web Sites</h1>
  <ul class="links">
    <h2>Scheduled Launches
    <ul>
      <li><a href="https://flightclub.io/live" target="_blank">Flight Club Next Launch</a></li>
      <li><a href="https://spaceflightnow.com/launch-schedule/" target="_blank">Spaceflight Now</a></li>
      <li><a href="https://www.spacelaunchschedule.com/" target="_blank">Space Launch Schedule</a></li>
    </ul>
    </h2>

    <h2>Satellite Searches
      <ul>
        <li><a href="https://www.outlet.magnetic-declination.com/browse/?y=2024&m=1" target="_blank">Browse Satellites by Launch Date (unsafe)</a></li>
      </ul>
    </h2>
  
    <h2>Catalogs, Data, Schemas
    <ul>
      <li><a href="https://celestrak.org/NORAD/elements/" target="_blank">CelesTrak: Current GP Element Sets</a></li>
      <li><a href="https://spacedatastandards.org/#/standards" target="_blank">Space Data Standards</a></li>
    </ul>
    </h2>

    <h2>Launch Sites
    <ul>
      <h3>Data Sources and References
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Location-based_service" target="_blank">Wiki: Location-based service</a></li>
      </ul>
      </h3>
    </ul>
    <ul>
      <h3>Launch Site Metadata
        <ul>
          <li><a href="https://en.wikipedia.org/wiki/Gagarin%27s_Start" target="_blank">Wiki: Gagarin's Start</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Vandenberg_Space_Launch_Complex_4" target="_blank">Wiki: Vandenberg Space Launch Complex 4</a></li>
        </ul>
      </h3>
    </ul>        
    </h2>      
  </ul>

  <h1>Space Operations Support Web Sites</h1>
  <ul>
    <h2>Time Services
      <ul>
        <li><a href="https://www.cnmoc.usff.navy.mil/Our-Commands/United-States-Naval-Observatory/Precise-Time-Department/" target="_blank">USNO's Precise Time Department</a></li>
      </ul>
    </h2>
  </ul>
  
  <h1>Other Web Sites</h1>
  <ul>
  </ul>
</div>
