#xxx {
  height: calc(100vh - (21px + 96px + 106px + 55px));
}

// ::-webkit-scrollbar {
//   width: 20;  /* remove scrollbar space */
//   background: transparent;  /* optional: just make scrollbar invisible */
// }

:host {
  ::ng-deep .ag-header-cell-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    overflow: clip;
  }
}
