<rux-container class='planned-launches'>
  <div slot='header'>
    <div class='planned-launches-header'>
      <span>{{ count$ | async }}</span> Planned Launches
    </div>

    <div id='launchFilters' class='select-menu-div'>
      <!--
      <rux-select
        value={severitySelection}
        size='small'
        label='Severity'
      >
        <rux-option label='All' value='all' />
        <rux-option label='Critical' value='critical' />
        <rux-option label='Caution' value='caution' />
        <rux-option label='Serious' value='serious' />
      </rux-select>
      -->

      <rux-select
        value={launchSiteSelection}
        size='small'
        label='Launch Site'
      >
        <!-- TODO: group using SPARQL -->
        <rux-option label='All' value='all' />
        <rux-option label='Chinese' value='Chinese' />
        <rux-option label='Iranian' value='Iranian' />
        <rux-option label='North Korean' value='North Korean' />
        <rux-option label='Russian' value='Russian' />
      </rux-select>
    </div>
</div>

  <!--
  <div
    class='filter-notification'
    hidden={severitySelection === 'all' && categorySelection === 'all'}
  >
    One or more filters selected.
    <rux-button
      onClick={handleClearFilter}
      secondary
      borderless
      size='small'
    >
      Clear filters
    </rux-button>
    to display all alerts.
  </div>
  -->

  <!-- severitySelection={{severitySelection}}
  categorySelection={{categorySelection}} -->
  <app-launch-list/>

  <!-- WORKS
  <div slot='footer'>
    <rux-button secondary>
      Dismiss
    </rux-button>
    <rux-button>
      Acknowledge
    </rux-button>
  </div>
  -->
</rux-container>
